.exclusiveReleases {
    display: flex;
    justify-content: center;
}

.exclusiveReleasesCard {
    position: relative;
    width: 600px;
    height: 500px;
    display: inline-block;
}

.exclusiveBackground {
    width: 100%;
    height: 500px;
    padding: 20px;
}

.exclusiveTitle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
}

.exclusiveButton {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #007bff;
    color: #ffffff;
    font-size: 18px;
    border: none;
}