.logo img {
    height: 50px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}