.about-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-image {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.about-text {
    margin-bottom: 10px;
}

.about-subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-team-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.about-team-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.team-member-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}