.login-form-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form-label {
    display: block;
    margin-bottom: 10px;
}

.login-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.login-form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form-submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form-register-link {
    display: block;
    margin-top: 20px;
}